
body {

	width: 100%;
	height: auto;

}
 /*need some help with these sizes and stuff */
#gameContainer {

	margin: 0 auto;
	background-color: #FFF;
	z-index: 0;
	top: 0;
	left: 0;
	width: 1000px;
	height: auto;
}

#gameGrid {

	margin: 5% auto;	
	box-sizing: border-box;
	text-align: center;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	background-color: blue;
	z-index: 1;
	
}

#gameGrid div .row {

	display: block;
	width: 700px;
	height: auto;
	z-index: 2;
}

#gameGrid div .slot {

	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 100%;
	box-sizing: border-box;
	margin: 2px;
	z-index: 3;	
	

}

@keyframes coinRotateRed {
    0% {background-color: white;}
    100% {transform: rotateY(180deg); background-color: red;}
}

@keyframes coinRotateYellow {
    0% {background-color: white;}
    100% {transform: rotateY(180deg); background-color: yellow;}
}


.empty {
	background-color: #FFF;
	
}

.player {
	animation-name: coinRotateRed;
    animation-duration: 1s;
	animation-fill-mode: forwards;
	
}

.computer {
	animation-name: coinRotateYellow;
    animation-duration: 1s;
	animation-fill-mode: forwards;
	
}