
body {

	width: 100%;
	height: auto;

}
 /*need some help with these sizes and stuff */
#gameContainer {

	margin: 0 auto;
	background-color: #FFF;	
	top: 0;
	left: 0;
	width: 1000px;
	height: 1000px;
}

#gameGrid {

	margin: 5% auto;	
	width: 700px;
	height: 100%;
	background-color: blue;
	
	
}



@keyframes coinRotateRed {
    0% {background-color: white;}
    100% {transform: rotateY(180deg); background-color: red;}
}

@keyframes coinRotateYellow {
    0% {background-color: white;}
    100% {transform: rotateY(180deg); background-color: yellow;}
}

.slot {

	width: 90px;
	height: 90px;
	float: left;
	display: inline-block;
	border-radius: 100%;	
	margin: 2px;	

}

.empty {
	background-color: #FFF;
	
}

.player {
	animation-name: coinRotateRed;
    animation-duration: 1s;
	animation-fill-mode: forwards;
	
}

.computer {
	animation-name: coinRotateYellow;
    animation-duration: 1s;
	animation-fill-mode: forwards;
	
}